pdfplumber
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
fastapi
uvicorn
chromadb
sentence-transformers
transformers
accelerate
streamlit
requests
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
mysqlclient
